@import "tailwindcss";

@theme {
  --color-background: #f8f9fb;
  --color-black: #000000;
  --color-foreground: #333333;
  --color-card: #ffffff;
  --color-card-foreground: #333333;
  --color-popover: #ffffff;
  --color-popover-foreground: #e5e5e5;
  --color-primary: #5bbc26;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f3f4f6;
  --color-secondary-foreground: #4b5563;
  --color-muted: #f9fafb;
  --color-muted-foreground: #6b7280;
  --color-accent: #e0f8cf;
  --color-accent-foreground: #2d5b19;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #ffffff;
  --color-border: #e7ecf4;
  --color-input: #e7ecf4;
  --color-ring: #e05d38;
}

@layer base {
  * {
    @apply text-slate-800 border-border;
  }

  .d-list {
    margin: 0;
  }

  .d-list .d-item {
    @apply dark:border-slate-200 flex items-center gap-1 border-b pb-2.5;
  }

  .d-list .d-item:last-child {
    @apply border-none pb-0;
  }

  .d-list > :not([hidden]) ~ :not([hidden]) {
    @apply mt-2;
  }

  .d-list .d-item .d-label {
    @apply text-secondary-foreground max-w-48 min-w-32 shrink-0 overflow-hidden text-ellipsis whitespace-nowrap;
  }

  .d-list .d-item .d-content {
    word-break: break-all;
    @apply dark:text-slate-50 line-clamp-1 flex items-center text-sm font-medium text-slate-800;
  }
}
